body {
	height: 100vh;
}

header,footer,article,section,a,h1 {
	margin: 1%;
	background-color: #DDDDDD;
	border: 2px solid #BBBBBB;
	box-sizing: border-box;
}

header {
	background-color: white;
	border: none;
}

h1 {
	margin: 0 5% 0 0;
	width: 20%;
	float: left;
	height: 100%;
}

nav {
	width: 70%;
	float: right;
	height: 100%;
}

nav a,h1 {
	display: inline-block;
}

nav a {
	width: 20%;
	height: 40%;
	margin-top: 5%;
}

section {
	display: inline-block;
}

header,footer {
	height: 15%;
}

article {
	height: 44%;
}

section {
	display: inline-block;
	height: 18%;
	width: 31.3%;
}

/*
  ========================================
  Hover Colors
  ========================================
*/

.green:hover {
	background-color: green;
}

.red:hover {
	background-color: red;
}

.blue:hover {
	background-color: blue;
}

.orange:hover {
	background-color: orange;
}

.indigo:hover {
	background-color: #4b0082;
}

.teal:hover {
	background-color: #008080;
}

.purple:hover {
	background-color: purple;
}

.black:hover {
	background-color: black;
}

.white:hover {
	background-color: white;
}

.yellow:hover {
	background-color: yellow;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}