html {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	margin: 0;
	padding: 0;
}

body * {
	background-color: rgb(192, 192, 192);
	border: 1px solid black;
	box-sizing: border-box;
}

header {
	height: 12vh;
	width: 25vw;
	padding: 1vh 1vw;
	display: inline-block;
	margin-right: 1vw;
	margin-left: 1vw; /*ight need to adjust*/
	margin-top: 1vh;
	margin-bottom: 1vh;
}

nav {
	float: right;
	display: inline-block;
	background-color: white;
	border: none;
	margin-bottom: 5vh;
	margin-top: 3.5vh;
	padding: 1vh 1vw;
	margin-left: 6vw;
	margin-right: 1vw;
}

li {
	display: inline-block;
	height: 5vh;
	width: 12vw;
	margin-left: 1vw;
}

.body, footer {
	height: 25vh;
	width: 97vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

footer {
	height: 18vh;
}

.part2{
	background-color: white;
	border: none;
}

.left, .center, .right {
	height: 20vh;
	width: 30vw;
	display: inline-block;
	padding: 1vh 1vw;
	margin: 1vh 1.3vw;
}

.left, .center {
	margin-right: 1.6vw;
}

.right, .center{
	margin-left: 1vw;
}

/*.part2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(40px, auto)
}

.left {
	grid-column: 1 / 3;
	grid-row: 1;
}*/