* {
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	width: 100%;
	}

header, section, footer {
	border: 1px solid black;
	background-color: grey;
	margin: 12px;
}


header, nav {
	display: inline-block;
}

header {
	width: 20%;
	height: 150px
}

footer {
	height: 15vh;
	width:	auto;
	padding: 10px;

}


section {
	height: 300px;
}

nav {
	float: right;
	height: 150px;
	width: 60%;
	margin-top: 12px;
	margin-right: 12px;



}

.navcontainer {
	display: grid;
	grid-gap: 12px;
	grid-template-columns: auto auto auto auto;
	height: 50px;
	margin-top: 49px;

}

.nav{
	background-color: grey;
	border: 1px solid black;

}

.gridcontainer2 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 24px
	height: 30px;

}

.grid2 {
	background-color: grey;
	border-color: 1px solid black;
	height: 200px;
}